<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
    <link rel="stylesheet" type="css" href="../styles/AgeGating.css">
  </header>

  <main>
    <div class="jumbotron">
      <h1 class="heading">
        Enter your age
      </h1>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>